
<h3 class="font-size">Order Details</h3>
<br/>


<div class="container tableDimension">
  <div class="table-responsive">
    <table class="table">
      <thead>
          <th class="leftBorderRadius">Select<input type="checkbox" disabled name="Select"></th>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Product Category</th>
          <th>Quantity</th>
          <th>Product Price (Rs)</th>
          <th>Offer Price (Rs)</th>
          <th>Product Description</th>
          <th class="rightBorderRadius">Product image</th>
        
      </thead>
      <tbody>
        <tr>
          <th class="leftBorderRadius"><input type="checkbox" name="Select"></th>
          <td>2</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td class="leftBorderRadius">Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>

        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>
        <tr>
            <th><input type="checkbox" name="Select"></th>
          <td>1</td>
          <td>Samsung</td>
          <td>Mobile</td>
          <td>10</td>
          <td>20000</td>
          <td>10000</td>
          <td>Good</td>
          <td>Image url</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
