<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-div-list">
        <img src="../assets/CAROUSEL/harkum.jpg"  />
      </div>
      <!--<div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>-->
    </div>
    <div class="carousel-item">
      <div class="carousel-div-list">
        <img src="../assets/CAROUSEL/CAROUSEL.jpg"  />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-div-list">
        <img src="../assets/CAROUSEL/carousel1.jpg"  />
      </div>
    </div>
  </div>

  <!-- Left and right controls-->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>



<div class="div-list" *ngFor="let category of httpData" >
  <div class="sub-div" >
    <div class="parent-div">
      <label class="category">{{category}}</label>
        <br>
      <button class="button viewbtn btn-info" #btn [routerLink]="['/viewAll',category]" >View All</button>
      <input type="hidden" #id value="{{category}}"/>
    </div>
  </div>
  
   <div class="scroll">
         <app-home-child  [category]="id.value"></app-home-child>
   </div>
  
</div>