<!--<br/>
<br/>

<h3>Export Database </h3>
<br/>
<!--<form class="row" #addProductForm="ngForm" (ngSubmit)="onSubmit(addProductForm.value)">

<div class="row col-sm-12">
  <div class="col-sm-12 row">
    <label for="exportUser" class="col-sm-4 margin">Export User Data : </label>
    <input type="file" [(ngModel)]="pCategory" (change)="onChange()" name="exportUser" class="col-sm-4 margin" ngModel required/>
    <input type="button" class="col-sm-4 margin" value="Upload"/>
  </div>

  <div class="col-sm-12 row">
    <label for="exportEmployee" class="col-sm-4 margin">Export Employee Data : </label>
    <input type="file" name="exportEmployee" class="col-sm-4 margin" ngModel required/>
    <input type="button" class="col-sm-4 margin" value="Upload"/>
  </div>


  
    <div class="col-sm-12 row">
      <label for="exportProduct" class="col-sm-4 margin">Export Product Data : </label>
      <input type="file" name="exportProduct" class="col-sm-4 margin" ngModel required/>
      <input type="button" class="col-sm-4 margin" value="Upload"/>
    </div>

    <div class="col-sm-12 row center">
      <label for="exportCart" class="col-sm-4 margin">Export Cart Data : </label>
      <input type="file" name="exportCart" class="col-sm-4 margin" ngModel required/>
      <input type="button" class="col-sm-4 margin" value="Upload"/>
    </div>

    <div class="col-sm-12 row">
      <label for="exportOrder" class="col-sm-4 margin">Export Order Data : </label>
      <input type="file" name="exportOrder"  class="col-sm-4 margin" />
      <input type="button" class="col-sm-4 margin" value="Upload"/>
    </div>

    <div class="col-sm-12 row">
      <label for="productImage" class="col-sm-4 margin">Product Image : </label>
      <input type="file" name="productImage" class="col-sm-4 margin "/>
      <input type="button" class="col-sm-4 margin" value="Upload"/>
    </div>
    <br/>
    <br/>
    <br/>
  -->