
.tableDimension{
    height: 80vh;
    overflow: scroll;
}

tr:hover{
    background: white;
}
th.rightBorderRadius{
    border-top-right-radius: 1vw;
}
td.rightBorderRadius{
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

th.leftBorderRadius{
    border-top-left-radius: 1vw;
}
td.leftBorderRadius{
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
th{
    padding: 0.5vw;
    background: cadetblue; 
}
*{
    text-align: center;
}

.overflow{
    height: 75vh;
    overflow: scroll;
}