

  <form [formGroup]="LoginForm"  (ngSubmit)="onLogin(LoginForm.value)" #form='ngForm'>
    <div class="popUpBox">
      <label class="Login ">Login</label>
      <br/>
        <label for="lname" >Email Id :  </label>  
        <input type="text" class="form-control" id="lname" formControlName="Username"/>
    
        
        <label for="lpassword">Password :  </label>  
        <input type="password" class="form-control" id="lpassword"  formControlName="lpassword">
         
        <br/>
        
        
        <input type="submit" class="btn btn-primary float-right" >
        <input type="Reset" class="btn btn-info" >    
    </div>
  </form>




