

  <form [formGroup]="LoginForm"  (ngSubmit)="onLogin(LoginForm.value)" #form='ngForm'>
    <div class="popUpBox">
      <label class="Login ">Employee Login</label>
      <br/>
        <label for="aname" >UserName :  </label>  
        <input type="text" class="form-control" id="aname" formControlName="Username"/>
    
        
        <label for="apassword">Password :  </label>  
        <input type="password" class="form-control" id="apassword"  formControlName="lpassword">
         
        <br/>
        
        
        <input type="submit" class="btn btn-primary float-right" >
        <input type="Reset" class="btn btn-info" >    
    </div>
  </form>




